/* You can add global styles to this file, and also import other style files */

html{
  height:100%;
}
body{
  height:100%;
}
body.homepage{
  overflow: hidden;
}
#page{
  height:100%;
  position: relative;
}
.carousel-control{
  display: none;
}
main{
  float: left;
  position: relative;
  width:100%;
  margin: 0 auto -162px;
  padding: 0 0 162px;
}
main:after{
  content: '';
  display: block;
}
.homepage footer{
  display: none;
}

.page-title{
  background-color: #f8f8f9;
  background-image: none;
  background-repeat: repeat;
  background-position: center center;
  background-size: auto auto;
  min-height: 200px;
}
.page-title .container{
  display: table;
  width: 100%;
}
.page-title .pg-table{
  display: table-cell;
  vertical-align: middle;
  height: 200px;
}
.page-title h1{
  color: #3b3f4a;
  font: normal 500 34px / 44px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.page-title .hgroup{
  display: block;
  text-align: center;
  padding: 5px 0;
  vertical-align: middle;
}
.modal-body .control-label{
  text-align: left !important;
}

.white-box-d{
  float: left;
  width:100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  font: 14px/16px "roboto-regular", sans-serif;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 7px;
  margin-bottom: 24px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}
.white-box-d-header{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  padding: 14px 22px;
  background-color: transparent;
}
.white-box-d-header h3{
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.9;
  color: #ffffff;
  margin-bottom: 0.75rem;
}
.white-box-d-content{
  padding: 10px 8px;
}
.white-box-d-content td{
  color:black;
}
/* Buttons */
.btn-ghost{
  width:300px;
  display: block;
  text-align: center;
  padding-left: 17.333333333333px;
  padding-right: 17.333333333333px;
  font: normal bold 16px / 52px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #fff;
  transition: background .2s ease-out,color .2s ease-out,border-color .2s ease-out;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  background:transparent;
}
.btn-ghost:hover{
  text-decoration: none;
}
.btn-ghost span{
  color:#fff;
  text-decoration: none;
}

.btn-ghost-tf{
  width: auto;
  border: 1px solid #fff;
  height: 40px;
  line-height: 40px;
  transition: all 0.1s ease;
}
.btn-ghost-tf:hover{
  transform: scale(1.2);
}

.btn-purple{
  width:100%;
  display: block;
  text-align: center;
  padding-left: 17.333333333333px;
  padding-right: 17.333333333333px;
  font: normal bold 18px / 52px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border:2px solid #37a0fe;
  color:#fff;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  background-color: #37a0fe;
  background-image: none;
  background: #37a0fe;
  background: -webkit-linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  background: linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.12);
  box-shadow: 0 1px 6px rgba(0,0,0,0.12);
  -webkit-transition: -webkit-box-shadow 0.2s ease-out, background-color 0.2s ease;
  transition: box-shadow 0.2s ease-out, background-color 0.2s ease;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.btn-purple:hover{
  text-decoration: none;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.btn-purple-small{
  background-color: #37a0fe;
  background-image: none;
  background: #37a0fe;
  background: -webkit-linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  background: linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  transform: translateZ(0);
  transition: box-shadow 0.2s ease-out, background-color 0.2s ease;
  text-decoration: none;
  padding-left: 14.666666666667px;
  padding-right: 14.666666666667px;
  font: normal bold 13px / 32px "roboto-regular",Helvetica,Arial,Verdana,sans-serif;
  border-radius: 3px;
  text-transform: none;
  position: relative;
  display: inline-block;
  border: none;
  white-space: nowrap;
  box-sizing: content-box;
  letter-spacing: normal;
  margin: 0;
  outline: none;
  color:#fff;
}
.btn-purple-small:hover{
  text-decoration: none;
  color:#fff;
}

.btn-simple{
  ransition: .2s ease color,.2s ease background;
  background: #fff;
  outline: 0;
  text-decoration: none;
  padding: .44em .9em .52em;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -.025em;
  display: block;
  line-height: 1.2;
  border-radius: 2px;
  text-align: center;
  border:1px solid transparent;
}

.btn-simple-google{
  border: 1px solid #d54f50;
  color: #d54f50;
}
.btn-simple-google:hover,
.btn-simple-google:focus{
  color: #fff;
  background-color: #d54f50;
  text-decoration: none;
}

.btn-simple-facebook{
  color: #3e86b4;
  background: #fff;
  border: 1px solid #3e86b4;
}
.btn-simple-facebook:hover{
  color: #fff;
  background-color: #3e86b4;
  text-decoration: none;
}

.btn-simple-twitter{
  color: #13b8d5;
  background: #fff;
  border: 1px solid #13b8d5;
}
.btn-simple-twitter:hover{
  color: #fff;
  background-color: #13b8d5;
  text-decoration: none;
}

.aio-icon{
  color: #ffffff;
  background: #ffffff;
  border-color: #333333;
  border-width: 1px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 500px;
  font-size: 16px;
  display: inline-block;
  background: #37a0fe;
  background: -webkit-linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  background: linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.12);
  text-align: center;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
button[disabled], html input[disabled] {
  cursor: not-allowed !important;
}

/* Hover effects */
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #37a0fe;
  background-image: none;
  background: #37a0fe;
  background: -webkit-linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  background: linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* underline from left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.homepage .hvr-underline-from-left:before{
  background-color: #fff;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background-color: #37a0fe;
  background-image: none;
  background: #37a0fe;
  background: -webkit-linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  background: linear-gradient(135deg,#37a0fe 30%,#8846fd 100%);
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* ken-burns animation */
@keyframes slidein {
  25% {
    -webkit-transform: scale(1.6) translate3d(-400px, 0px, 0px);
    -moz-transform: scale(1.6) translate3d(-400px, 0px, 0px);
    -o-transform: scale(1.6) translate3d(-400px, 0px, 0px);
    -ms-transform: scale(1.6) translate3d(-400px, 0px, 0px);
    transform: scale(1.6) translate3d(-400px, 0px, 0px);
  }
  50% {
    -webkit-transform: scale(1) translate3d(0px, 0px, 0px);
    -moz-transform: scale(1) translate3d(0px, 0px, 0px);
    -o-transform: scale(1) translate3d(0px, 0px, 0px);
    -ms-transform: scale(1) translate3d(0px, 0px, 0px);
    transform: scale(1) translate3d(0px, 0px, 0px);
  }
  75% {
    -webkit-transform: scale(1.6) translate3d(+400px, 0px, 0px);
    -moz-transform: scale(1.6) translate3d(+400px, 0px, 0px);
    -o-transform: scale(1.6) translate3d(+400px, 0px, 0px);
    -ms-transform: scale(1.6) translate3d(+400px, 0px, 0px);
    transform: scale(1.6) translate3d(+400px, 0px, 0px);
  }
}
