.contact-us-page .inner{
  position: relative;
  float: left;
  width: 100%;
  margin-right: 25px;
  margin-bottom: 50px;
  margin-left: 25px ;
  padding-top: 35px ;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: rgba(170,170,170,0.1);
}

.row-contact{
  float: left;
  position: relative;
  width:100%;
  margin-top:30px;
}
