<div class="homepage-slider-overlay"></div>
<div class="homepage-slider-captions">
    <div class="container">
        <div>
            <h1 id="homepage-slider-title">CASH FLOW</h1>
        </div>
        <p id="homepage-slider-subtitle">The most advanced personal expense tracker</p>
        <div id="homepage-slider-buttons">
            <a *ngIf="!isUserLoggedIn" routerLink="/login" routerLinkActive="active" class="btn-ghost hvr-sweep-to-right">
                <span>Login or Register</span>
            </a>
            <a *ngIf="isUserLoggedIn" routerLink="/dashboard" routerLinkActive="active" class="btn-ghost hvr-sweep-to-right">
                <span>Go to Dashboard</span>
            </a>
        </div>
        <div class="homepage-slider-scroll">
            <span id="scroll-icon">
                <span class="dot"></span>
            </span>
        </div>
    </div>
</div>
<div class="homepage-slider container-fluid">
    <div class="col-md-12">
        <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
            <slide *ngFor="let slidez of slides; let index=index"
                   [active]="slidez.active"
                   [style.height.px]="slideHeight"
                   (window:resize)="onResize($event)">
                <img class="center-block" [src]="slidez.image">
                <div class="homepage-slider-clouds"></div>
            </slide>
        </carousel>
    </div>
</div>

