.sebm-google-map-container {
  height: 300px;
}

.underline-small{
  display: block;
  border-style: solid;
  border-bottom: 0px solid rgb(204, 204, 204);
  border-color: rgb(204, 204, 204);
  width: 150px;
  margin: 0px auto 20px;
  border-color: transparent;
  -moz-border-image: -moz-linear-gradient(top right,#37a0fe 30%,#8846fd 100%);
  -webkit-border-image: -webkit-linear-gradient(top right,#37a0fe 30%,#8846fd 100%);
  border-image: linear-gradient(to bottom right,#37a0fe 30%,#8846fd 100%);
  border-image-slice: 1;
}

.title{
  margin-bottom: 7px;
  line-height: 32px;
  color: #3b3f4a;
  font: normal 500 30px / 44px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  text-align: center;
}
