<div *ngIf="isLogged" class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a routerLink="/" class="simple-text">
                CashFlow
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a routerLink="/dashboard" >
                    <i class="fa fa-pie-chart fa-fw"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="active">
                <a routerLink="/user-accounts" >
                    <i class="fa fa-bank fa-fw"></i>
                    <p>My Accounts</p>
                </a>
            </li>
            <li>
                <a routerLink="/user-bills" >
                    <i class="fa fa-newspaper-o fa-fw"></i>
                    <p>My Bills</p>
                </a>
            </li>
            <li>
                <a routerLink="/user-income" >
                    <i class="fa fa-money fa-fw"></i>
                    <p>My Incomes</p>
                </a>
            </li>
        </ul>
        <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
             [ngClass]="{'show-hover-elem': showHoverElem }"></div>
    </div>
</div>
