<!--<form #contactUsForm="ngForm" (ngSubmit)="contact(); contactUsForm.reset()">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-7">
            <div class="form-group">
                <input class="form-control" type="text" name="firstName" [(ngModel)]="firstName" #tbName="ngModel" required placeholder="First Name" />
                <div [hidden]="tbName.untouched || tbName.valid">
                    Invalid field
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastName" [(ngModel)]="secondName" required placeholder="Last Name" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="email" [(ngModel)]="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="message" [(ngModel)]="message" placeholder="Type your message here...">
            </div>
            <div class="form-group">
                <button class="btn btn-success">Send</button>
            </div>
        </div>
    </div>
</form>-->