<footer class="footer navbar-inverse navbar-static-bottom" >
    <div class="container">

        <div class="socials col-sm-12">
            <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>

        <div class="ft-m col-sm-12">
            <div class="logo col-sm-6">
                <img src="../../../../assets/images/logo_pu.png" />
                <div class="copyright col-sm-8">
                    <p>CashFlow - premium expense tracking service</p>
                </div>
            </div>

            <div class="footer-menu col-sm-6">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/services">Services</a></li>
                    <li><a routerLink="/contact-us">Contacts</a></li>
                    <li><a routerLink="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
