footer{
  float: left;
  width:100%;
  position: relative;
  height:162px;
}
footer .logo{
  padding: 8px 12px 8px 0px;
}
footer .logo img{
  width:50px;
  float: left;
}

footer .copyright{
  float: left;
  position: relative;
  color:#fff;
  margin: 14px 0;
}
footer .copyright p{
  margin:0;
  font-size:15px;
  font-weight:normal;
  font-family:"open_sans";
}

footer ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
footer ul.social-network li {
  display: inline;
  margin: 0 5px;
}
footer .footer-menu{
  padding: 8px 12px 8px 0px;
}
footer .footer-menu a{
  color:#fff !important;
  font-size:15px;
  font-weight:normal;
  font-family:"open_sans";
}
footer .footer-menu a:hover{
  text-decoration: underline;
}
footer .ft-m{
  border-top: 1px solid rgba(255,255,255,0.13);
}
footer .socials{
  text-align: center;
  margin: 40px 0 20px;
}

/* footer social icons */
.social-network a.icoRss {
  background-color: #F56505;
}
.social-network a.icoFacebook {
  background-color:#3B5998;
}
.social-network a.icoTwitter {
  background-color:#33ccff;
}
.social-network a.icoGoogle{
  background-color:#BD3518;
}
.social-network a.icoLinkedin {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  text-align:center;
  width: 35px;
  height: 35px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:35px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}



