<footer class="footer navbar-inverse navbar-static-bottom">
    <div class="container">
        <div class="logo col-sm-6">
            <img src="../../../../assets/images/logo_pu.png" />
            <div class="copyright col-sm-8">
                <p>CashFlow - premium expense tracking service</p>
            </div>
        </div>

        <div class="socials col-sm-6">
            <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
