.homepage-slider,
.homepage-slider > div{
  padding:0;
}
.homepage-slider img{
  /*position: absolute;*/
  /*width:100%;*/
}
.carousel-control{
  display: none;
}
.homepage-slider-overlay{
  z-index: 5;
  position: absolute;
  background: transparent linear-gradient(-140deg, rgba(169, 70, 253, 0.4), rgba(8, 43, 174, 0.6), rgba(0, 240, 255, 0.6)) repeat scroll 0% 0%;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  line-height: 23px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  min-height: 100%;
  min-width: 100%;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transform-origin: 50% 50% 0px;
}
.homepage-slider-captions{
  min-height: 100%;
  min-height: 100vh;
  background: transparent;
  position: absolute;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#homepage-slider-title{
  white-space: nowrap;
  font-size: 93px;
  line-height: 102px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Oswald;
  visibility: inherit;
  text-align: center;
  letter-spacing: 0px;
}
#homepage-slider-subtitle{
  font-size: 52px;
  line-height: 61px;
  font-weight: 300;
  font-family: Roboto;
  visibility: inherit;
  text-align: left;
  letter-spacing: 0px;
  text-align: center;
  color:#fff;
}
#homepage-slider-buttons{
  margin-top:50px;
}
#homepage-slider-buttons .btn-ghost{
  margin: 0 auto;
  float: none;
  display: block;
}
