<header class="header-bar">
    <div class="container">

        <nav id="primary-menu">
            <div class="branding">
                <a href="/">
                    <img src="../../assets/images/logo.png" alt="logo"/>
                </a>

                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#primary-menu"
                        aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul id="menu">
                <li class="menu-item">
                    <a href="/" class="hvr-underline-from-left">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/about" class="hvr-underline-from-left">About Us</a>
                </li>
                <li class="menu-item">
                    <a href="/services" class="hvr-underline-from-left">Services</a>
                </li>
                <li class="menu-item">
                    <a href="/team" class="hvr-underline-from-left">Team</a>
                </li>
                <li class="menu-item">
                    <a href="/contact" class="hvr-underline-from-left">Contact us</a>
                </li>
            </ul>
        </nav>
        <div id="navigation-widgets">

        </div>
    </div>
</header>
