header{
  position: absolute;
  width: 100%;
  z-index: 102;
}
#primary-menu{
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;

  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-align-content: stretch;
  align-content: stretch;

  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;

  -ms-flex-pack: start;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  list-style-type: none;
  padding:0;
}
#primary-menu li{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  position: relative;
}
#primary-menu li a{
  color: #fff !important;
  -webkit-text-fill-color: #fff;
  background: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -ms-flex-line-pack: stretch;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  margin: 5px 16px 5px 16px;
  padding: 5px 0px 5px 0px;
  font: normal 16px / 25px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
  text-transform: uppercase;
}

.branding{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.branding a{
  padding: 0px 50px 0px 50px;
  color:#fff;
  text-decoration: none;
}
.branding a img{
  width:85px;
}
